<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RegionServer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <RegionServer.Settings>
            <setting name="ClientPort" serializeAs="String">
                <value>7772</value>
            </setting>
            <setting name="MasterIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="MasterPort" serializeAs="String">
                <value>7770</value>
            </setting>
            <setting name="ConnectRetryIntervalSeconds" serializeAs="String">
                <value>14</value>
            </setting>
        </RegionServer.Settings>
    </applicationSettings>
</configuration>